<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
         

        </script>
          
    

    <title>Fitness Tracker</title>
  </head>

  

 
  <body class="  h-screen bg-gradient-to-b from-indigo-950 to-teal-500">

  
    <div class="flex flex-col items-center justify-center min-h-screen">
      <div class=" grid grid-cols-4 grid-rows-6 gap-2 ">

        <div id="jan" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="01-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="01-31" class="col-start-3 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

       <div id="feb" class=" grid grid-cols-7 grid-rows-4 gap-1 max-h-11 max-w-20">
        <div id="02-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="02-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

      <div id="mar" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="03-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-10" class="col-start-3 row-start-2 h-2 w-2 bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="03-31" class="col-start-3 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

      <div id="apr" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="04-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="04-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

      <div id="may" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="05-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="05-31" class="col-start-3 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

       <div id="jun" class=" grid grid-cols-7 grid-rows-4 gap-1 max-w-20">
        <div id="06-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="06-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>

      </div>

      <div id="jul" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="07-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="07-31" class="col-start-3 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

      <div id="aug" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="08-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="08-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

      <div id="sep" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="09-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="09-31" class="col-start-3 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>

       <div id="oct" class=" grid grid-cols-7 grid-rows-4 gap-1 max-w-20">
        <div id="10-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="10-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>

      </div>

      <div id="nov" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="11-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="11-31" class="col-start-3 row-start-5 h-2 w=2  bg=white/30 shadow=md rounded=xs"></div>
      </div>

      <div id="dec" class=" grid grid-cols-7 grid-rows-4 gap-1">
        <div id="12-01" class="col-start-1 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-02" class="col-start-2 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-03" class="col-start-3 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-04" class="col-start-4 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-05" class="col-start-5 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-06" class="col-start-6 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-07" class="col-start-7 row-start-1 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-08" class="col-start-1 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-09" class="col-start-2 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-10" class="col-start-3 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-11" class="col-start-4 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-12" class="col-start-5 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-13" class="col-start-6 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-14" class="col-start-7 row-start-2 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-15" class="col-start-1 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-16" class="col-start-2 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-17" class="col-start-3 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-18" class="col-start-4 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-19" class="col-start-5 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-20" class="col-start-6 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-21" class="col-start-7 row-start-3 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-22" class="col-start-1 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-23" class="col-start-2 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-24" class="col-start-3 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-25" class="col-start-4 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-26" class="col-start-5 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-27" class="col-start-6 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-28" class="col-start-7 row-start-4 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-29" class="col-start-1 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
        <div id="12-30" class="col-start-2 row-start-5 h-2 w-2  bg-white/30 shadow-md rounded-xs"></div>
      </div>
      <div class=" border-1 border-white/30 rounded-md px-2 py-1 w-40 grid grid-rows-2 col-span-2 row-start-5 text-blue-100 text-xs ">
      <label class="text-blue-100 row-start-1 text-xs">Total workouts: {{ workouttotal }} {{ streak }}  </label>
      <label class="text-blue-100 row-start-2 text-xs">Total distance:</label>
      
      </div>
      <div class=" items-start grid grid-rows-2 col-span-2 col-start-3 row-start-5">
      <a class="grid justify-end  font-medium text-blue-100  row-start-1 text-xs  hover:text-white" href="{{ url_for('exercise') }}">Start New Workout...</a>
      </div>
      </div>
       
      </div>
      
       
   
    </div>

    <script>
      
       console.log("Hello, World!");

       //Jinja variable passed to JavaScript, it shows "property assignment expected" error in VSCode but it works fine in the browser console, so it's just a quirk of the editor
       const pythonData = {{ highlighted_dates | tojson }};

       console.log("Data from Python:", pythonData);
         
      
         pythonData.forEach(date => {
           const element = document.getElementById(date);
           if (element) {
            element.classList.remove('bg-white/30');
             element.classList.add('bg-white');
           }
         });
       
        
         
     
    
    </script>
   
    
 
      



  </body>
</html>